<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Add New Employee</h2>
        <form th:action="@{/employees/save}" th:object="${employee}" method="post">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" th:field="*{firstName}" class="form-control mb-3 w-25" id="firstName" placeholder="Enter first name" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" th:field="*{lastName}" class="form-control mb-3 w-25" id="lastName" placeholder="Enter last name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" th:field="*{email}" class="form-control mb-3 w-25" id="email" placeholder="Enter email" required>
            </div>
            <button type="submit" class="btn btn-info col-2">Add Employee</button>
        </form>
    </div>
</body>
</html>
